<!doctype html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ pageTitle }}</title>
        {{ header }}
    {%  block head %}{% endblock head %}
</head>
<body>
<div id="body" class="container">
    <h1 class="mt-5">{{ pageTitle }}</h1>

        <table class="table">
            <tr>
                <td><span style="font-weight: bold">{{ "Account Unique Identifier"|xlt }}:</span></td><td>{{ uuid }}</td>
            </tr>
            <tr>
                <td><span style="font-weight: bold">{{ "Account Name"|xlt }}:</span></td><td>{{ accountname }}</td>
            </tr>
            <tr>
                <td><span style="font-weight: bold">{{ "Fax Caller ID"|xlt }}:</span></td><td>{{ callerid }}</td>
            </tr>
        </table>

    {% block body %}
    {% endblock body %}

    <div class="mt-10" id="footer">
        <a class="btn btn-primary" href="../../provisioning.php">{{ "Add/Remove Numbers" }}</a>
        {% block footer %}{% endblock footer %}
    </div>
</div>

</body>
</html>
