<!doctype html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ pageTitle }}</title>
        {{ header }}
    {%  block head %}{% endblock head %}
</head>
<body>
<div id="body" class="container">
    <h1 class="mt-5">{{ pageTitle }}</h1>
    {% block body %}
    <p>{{ "Account Unique Identifier"|xlt }}:</p>{{ uuid }}
    {% endblock body %}

    <div id="footer">
        {% block footer %}P{% endblock footer %}
    </div>
</div>

</body>
</html>
