{% extends "layout.twig"  %}

    {% block body %}
        <h1 class="mt-5">{{ pageTitle|xlt }}</h1>
        <div class="mt-15 mb-15">
            {{ "Network Status"|xlt }}:
            {% if status == true  %}<button style="background-color: darkgreen; color: whitesmoke;"> {{ "Systems Online"|xlt }} </button>
            {% else %} <button style="background-color: red; color: aliceblue;">{{ "System Offline"|xlt }}</button>
            {% endif %}
        </div>
        <div class="mt-15 mb-10">
            <table class="table">
                <tr>
                    <td><span style="font-weight: bold">{{ "Account Unique Identifier"|xlt }}:</span></td><td>{{ uuid }}</td>
                </tr>
                <tr>
                    <td><span style="font-weight: bold">{{ "Account Name"|xlt }}:</span></td><td>{{ accountname }}</td>
                </tr>
                <tr>
                    <td><span style="font-weight: bold">{{ "Acct Office Number"|xlt }}:</span></td><td>{{ callerid }}</td>
                </tr>
                <tr>
                    <td><span style="font-weight: bold">{{ "Fax Numbers"|xlt }}:</span></td><td></td>
                </tr>
                {% for key, number in numbers %}
                    <tr>
                        <td></td><td>{{ number.numberE164 }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endblock %}

    {% block footer %}
    <div class="mt-10" id="footer">
        <a href="https://affordablecustomehr.documo.com/signin" target="_blank">Get API key</a><br><br>
        <a class="btn btn-primary" href="../provision/provisioning.php">{{ "Add/Remove Numbers"|xlt }}</a><br><br>
    </div>
    <div class="m-4">
        <div id="paypal-button-container-P-6V047304K6009135JMHPU4HI"></div>
        <!-- 500 -->
        <script src="https://www.paypal.com/sdk/js?client-id=AUQ1tRakVcTZ0wIOjQ0CicVxB8K47tXo4l8PucxwmmB1v_LIE4-_pJ-kEZf3fsk3uKZuhb_3WuDasVBC&vault=true&intent=subscription" data-sdk-integration-source="button-factory"></script>
        <script>
            paypal.Buttons({
                style: {
                    shape: 'rect',
                    color: 'gold',
                    layout: 'vertical',
                    label: 'subscribe'
                },
                createSubscription: function(data, actions) {
                    return actions.subscription.create({
                        /* Creates the subscription */
                        plan_id: 'P-6V047304K6009135JMHPU4HI'
                    });
                },
                onApprove: function(data, actions) {
                    alert(data.subscriptionID); // You can add optional success message for the subscriber here
                }
            }).render('#paypal-button-container-P-6V047304K6009135JMHPU4HI'); // Renders the PayPal button
        </script>
    </div>
    {% endblock footer %}

