{% extends "layout.twig" %}

{% block body %}
<h3 class="mt-5 mb-5">{{ pageTitle }}</h3>

<table class="table table-striped table-bordered">
    <th>{{ "Date"|xlt }}</th>
    <th>{{ "Sender"|xlt }}</th>
    <th>{{ "Number"|xlt }}</th>
    <th>{{ "Time"|xlt }}</th>
    <th>{{ "Page Count"|xlt }}</th>
    <th>{{ "Status"|xlt }}</th>
    <th>{{ "Details"|xlt }}</th>

    {% for entry in data %}
        <tr>
            <td>{{ entry.createdAt|e }}1</td>
            <td>{{ entry.users|e }}2</td>
            <td>{{ entry.faxNumber|e }}3</td>
            <td>{{ entry.direction|xlt }}4</td>
            <td>{{ entry.pagesCount|e }}5</td>
            <td>{{ entry.processingStatusName|xlt }}6</td>
            <td>{{ entry.resultInfo|xlt }}7</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
