{% extends "layout.twig" %}

{% block body %}
    {{ dump(data)}}
<h3 class="mt-5 mb-5">{{ pageTitle }}</h3>

<table class="table table-striped table-bordered">
    <th>{{ "Date"|xlt }}</th>
    <th>{{ "Sender"|xlt }}</th>
    <th>{{ "Number"|xlt }}</th>
    <th>{{ "Time"|xlt }}</th>
    <th>{{ "Page Count"|xlt }}</th>
    <th>{{ "Status"|xlt }}</th>
    <th>{{ "Details"|xlt }}</th>

    {% for entry in data %}
        <tr>
            <td>{{ entry.createdAt }}</td>
            <td>{{ entry.users }}</td>
            <td>{{ entry.faxNumber }}</td>
            <td>{{ entry.direction }}</td>
            <td>{{ entry.pagesCount }}</td>
            <td>{{ entry.processingStatusName }}</td>
            <td>{{ entry.resultInfo }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
